@media screen and (max-width: 1024px) {
    .card2 {
        width: 90%; /* Adjust for smaller screens */
    }
    #amountbox {
        width: 100%;
    }
    #leftBox {
        width: 100%;
    }
    #rightbox{
        width: 100%;
    }
}